body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #cbe7ff; /* Fundo azul claro */
}

.login-container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    text-align: center;
}

.error-message {
    color: red;
}

table {
    width: 100%;
}

table td {
    padding: 10px;
}

#login-button {
    background-color: #007bff; /* Cor do botão */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#login-button:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}
