body {
    background-color: #f0f8ff; /* Azul claro */
}

.form-group input[type="text"],
.form-group input[type="tel"],
.btn {
    border: 2px solid #4682b4; /* Azul claro */
    border-radius: 5px;
}
